{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "ssr": true,
        "displayName": true,
        "pure": true,
        "alias": {
          "@components": "./components",
          "@pages": "./pages",
          "@public": "./public",
          "@styles": "./styles",
          "@types": "./types",
          "@utils": "./utils"
        }
      }
    ]
  ]
}