$point-color: #e38a8a;
$normal-color1: #ecd6d9;
$normal-color2: #f3c2bd;
$error-color: #f51b39;

.article {
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        font: {
            size: 30px;
            weight: bold;
        }
        color: $point-color;
    }

    * {
        margin: 0;
        padding: 0;
    }
}

.auth {
    width: 100%;
    &__item {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding: 0 12vw;
        margin-top: 2vw;
        label {
            flex: 1 1 20%;
            color: $point-color;
            max-width: 50px;
        }
        input {
            padding: 1vw;
            flex: 1 1 80%;
            border: 1px solid $normal-color1;
            &.error {
                border: 1px solid $error-color !important;
            }
            &:focus,
            &:hover {
                border: 1px solid $point-color;
            }
        }
        &:first-child {
            margin-top: 0;
        }
    }

    &__error {
        color: $error-color;
        padding: 0 12vw;
        margin-top: 10px;
    }

    button {
        width: 20vw;
        display: block;
        margin: 4vw auto 0;
        padding: 1vw 2vw;
        background: $point-color;
        color: #fff;
        text-align: center;
        font-size: 2rem;
    }
}

.todo {
    width: 90vw;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 $normal-color1;
    &__form {
        display: flex;
        height: 50px;
        line-height: 50px;
        input {
            background: $point-color;
            color: #fff;
            display: block;
            width: calc(100% - 50px);
            height: 100%;
            padding: 10px;
            &::placeholder {
                color: #fff;
            }
        }
        button {
            width: 50px;
            height: 50px;
            display: block;
            position: relative;
            background: #666;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: calc(50% - 2px);
                width: 2px;
                height: calc(100% - 20px);
                background: #fff;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: calc(50% - 2px);
                width: 2px;
                height: calc(100% - 20px);
                background: #fff;
                transform: rotate(90deg);
            }
        }
    }

    &__list {
        height: 40vh;
    }
}