$point-color: #e38a8a;
$normal-color1: #ecd6d9;
$normal-color2: #f3c2bd;
$normal-color3: #997976;
$normal-color4: #a69777;
$error-color: #f51b39;

.article {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    form {
        padding: 2vw;
        width: 100%;
    }

    h2 {
        font: {
            size: 3rem;
            weight: bold;
        }
        color: $point-color;
    }
}

.auth {
    &__item {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding: 0 12vw;
        margin-top: 4vw;
        label {
            flex: 1 1 20%;
            color: $point-color;
            max-width: 50px;
        }
        input {
            padding: 1vw;
            flex: 1 1 80%;
            border: 1px solid $normal-color1;
            &:focus,
            &:hover {
                border: 1px solid $point-color;
            }
            &.error {
                border: 1px solid $error-color;
            }
        }
        &:first-child {
            margin-top: 0;
        }
    }

    &__error {
        color: $error-color;
        padding: 0 12vw;
        margin-top: 10px;
    }
}