$point-color: #e38a8a;
$normal-color1: #ecd6d9;
$normal-color2: #f3c2bd;
$error-color: #f51b39;

.article {
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    h2 {
        font: {
            size: 30px;
            weight: bold;
        }
        color: $point-color;
    }

    * {
        margin: 0;
        padding: 0;
    }
}

.auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__item {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding: 0 12vw;
        label {
            flex: 1 1 30%;
            color: $point-color;
            max-width: 70px;
        }
        input {
            padding: 1vw;
            flex: 1 1 70%;
            border: 1px solid $normal-color1;
            &.error {
                border: 1px solid $error-color !important;
            }
            &:focus,
            &:hover {
                border: 1px solid $point-color;
            }
        }
        &:first-child {
            margin-top: 0;
        }
    }
}

.todo {
    width: 90vw;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba($point-color, .4);
    border-radius: 20px;
    &__form {
        display: flex;
        height: 50px;
        line-height: 50px;
        input {
            background: $point-color;
            color: #fff;
            display: block;
            width: calc(100% - 50px);
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            &::placeholder {
                color: #fff;
            }
        }
        button {
            width: 50px;
            height: 50px;
            display: block;
            position: relative;
            background: #666;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: calc(50% - 2px);
                width: 2px;
                height: calc(100% - 20px);
                background: #fff;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: calc(50% - 2px);
                width: 2px;
                height: calc(100% - 20px);
                background: #fff;
                transform: rotate(90deg);
            }
        }
    }

    &__list {
        height: 40vh;
        overflow-y: auto;
        li {
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            &:hover {
                background: rgba($normal-color2, .4);
            }
        }
    }
}

.todoCard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__contents {
        z-index: 1;
        width: 100%;
        max-width: 600px;
        height: 40vh;
        overflow-y: auto;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
    }
}

.todoCard_none {
    display: none;
    * {
        display: none;
    }
}

.errorMessage {
    color: $error-color;
    padding: 0 2vw;
    margin: 10px 0 0 100px;
}

.btn_wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    &__item {
        width: fit-content;
        display: block;
        padding: 10px 40px;
        background: $point-color;
        color: #fff;
        text-align: center;
        cursor: pointer;
        &[disabled] {
            opacity: .4;
        }
    }
}

.user_state {
    position: absolute;
    top: 100px;
    right: 100px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    a {
        width: fit-content;
        display: block;
        padding: 10px 40px;
        background: $point-color;
        color: #fff;
        text-align: center;
        cursor: pointer;
        &[disabled] {
            opacity: .4;
        }
    }
}